[database]
# You can name this anything you'd like, it's the database log of all your location points/data
database = iphonelocation
# This is the host running MySQL (or compatibale, MariaDB or Percona for example)
host = 127.0.0.1
# The port MySQL is configure to listen on, if you haven't changed the default, it's 3306
port = 3306
# The MySQL username that has access to this database
user = dbusername
# The MySQL users password
passwd = Sup3rSecre7

[ISY]
# The ISY username
username = admin
# The ISY password
password = passwd
# The ISY hostname or IP
hostname = 111.222.333.444
# Set this to "True" to use SSL (https)
SSL = False
# This is the port your http or https connection listens on
port = 80


[iCloudAPI]
# Your iCloud username
username = myicloudname@icloud.com
# Your iCloud password
password = c00lpa$$w0rd

[device]
# The name of the person whose device this is
name = Steve
# A 3 letter/number short name for the person this device belongs to
shortname = STV
# The number of the ISY varible used to store the current distance
ISYDistanceVAR = 47
# The device identifier of this device. See the README for instructions to get this
iCloudGUID = GHbTA***ITSBIGANDLONG***SUzmWV
# The lattitude of your home location
location_home_lat = 34.963144
# The longitude of your home location
location_home_long = -72.089345

##########################################################################################
### Advanced Settings - There is no need to change anything below this line,           ###
###    the application will run fine with all of these settings left at the defaults   ###
###    set below.																	   ###
##########################################################################################
# Turn on or off checking your ISY for WiFi presence
WiFiCheck = False
# Turn on or off checking your ISY for Bluetooth presence
BTCheck = False
# The ISY variable that stores your WiFi presence info
ISYWifiVAR = 48
# The expect value of the ISY WiFi tracking value
ISYWifiVAR_Expected = 1
# The ISY variable that stores your Bluetooth presence info
ISYBtVAR = 25
# The expect value of the ISY Bluetooth tracking value
ISYBtVAR_Expected = 0

[general]
# The number of devices we're checking. (For now this should always be 1)
numberofdevices = 1
# The default sleep time between API location lookups
cycle_sleep_default = 60
# The sleep time between API location lookups if you have WiFi or Bluetooth checking enabled
cycle_sleep_withradio = 300
# The distance in miles outside of which API lookups become less frequent
cycle_sleep_distance = 5
# The minimum change in distance from home to be considered motion
cycle_sleep_variable_distance = .5
# The sleep modifier if you are not moving, or moving away from home.
cycle_sleep_variable_modifier_default = 2
# The sleep modifier if you are getting closer to home.
cycle_sleep_variable_modifier_inbound = 4
# Distance precision, i.e. how many decimal places of distance to report to the ISY.
# **NOTE: You must be running firmware v5.0.x or above to use this option. By default
#         it should be left at 0.
isy_distance_precision = 0
# This multiplies the distance reported to the ISY by the value below. This is done for ISY
# units running firmware earlier than v5.0.x so they can have more precise distance actions.
# For example, if the setting below is set to 100, a distance of 23.12345678 miles, with the
# above precision setting left set at 0, will report it's distance to the ISY as 2312. This
# basically means your distance is 2312 100ths of a mile.
isy_distance_multiplier = 0
# This setting tells the app to reject data if the iCloud API reports that it's "old"
isold_reject=True
# This setting tells the app how many times to try again to read data to see if it's no longer "old"
isold_retries=6
# The setting tells the app when retrying (if enabled) to get data that is not "old", how long it
# shoud sleep in seconds between attempts
isold_sleep=30
# This setting tells the app to reject data if the iCloud API reports that it's from a "Cell" based lookup instead of WiFi, GPS or GPS-Course
gpsfromcell_reject=False
# This setting tells the app how many times to try again to read data to see if it's no longer "old"
gpsfromcell_retries=6
# The setting tells the app when retrying (if enabled) to get data that is not "old", how long it
# shoud sleep in seconds between attempts
gpsfromcell_sleep=30